<ons-list class="menu-list">
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    Home
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('gallery.html', {closeMenu: true})">
    <ons-icon icon="ion-compass" fixed-width="true"></ons-icon>
    Explore
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('notifications.html', {closeMenu: true})">
    <ons-icon icon="ion-radio-waves" fixed-width="true"></ons-icon>
    Notifications
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('profile.html', {closeMenu: true})">
    <ons-icon icon="ion-person" fixed-width="true"></ons-icon>
    My Profile
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('settings.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-cog" fixed-width="true"></ons-icon>
    Settings
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('plugins.html', {closeMenu: true})">
    <ons-icon icon="ion-outlet" fixed-width="true"></ons-icon>
    Plugins
  </ons-list-item>    
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('grid.html', {closeMenu: true})">
    <ons-icon icon="ion-grid" fixed-width="true"></ons-icon>
    Grid System
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('login.html', {closeMenu: true})">
    <ons-icon icon="ion-log-in" fixed-width="true"></ons-icon>
    Login
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('signup.html', {closeMenu: true})">
    <ons-icon icon="ion-person-add" fixed-width="true"></ons-icon>
    Sign up
  </ons-list-item>
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('friends.html', {closeMenu: true})">
    <ons-icon icon="ion-ios-people" fixed-width="true"></ons-icon>
    My Friends
  </ons-list-item>    
  <ons-list-item class="menu-item" ng-click="menu.setMainPage('markers.html', {closeMenu: true})">
    <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
    Map Markers
  </ons-list-item>
</ons-list>
