
<ons-list class="menu-list black-bg">
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('welcome.html', {closeMenu: true});">
    <ons-icon icon="fa-home" fixed-width="true"></ons-icon>
    Home
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('branches.html', {closeMenu: true});">
    <ons-icon icon="ion-map" fixed-width="true"></ons-icon>
    All Branches
  </ons-list-item>
  <ons-list-item modifier="chevron"  class="menu-item" ng-click="menu.setMainPage('near.html', {closeMenu: true});">
    <ons-icon icon="ion-location" fixed-width="true"></ons-icon>
    Find Near Me
  </ons-list-item>
</ons-list>
