<!doctype html>
<html lang="en" ng-app="app">
<head>
  <meta charset="utf-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">
  <title>Videos</title>  

  <!-- All our CSS -->
  <!-- onsen-css-components.css is the skin of your app, you can generate one custom skin with this generator: http://components.onsen.io/ -->
  <link rel="stylesheet" href="lib/onsen/css/onsenui.css">    
  <link rel="stylesheet" href="css/onsen-css-components.css"> 
  <link rel="stylesheet" href="css/plugins.css"/>
  <link rel="stylesheet" href="css/roots.css"/>
  <link rel="stylesheet" href="css/app.css"/>
  
  <!-- These are our JS libraries that make all the magic in our App -->
  <script src="lib/onsen/js/angular/angular.js"></script>    
  <script src="lib/onsen/js/onsenui.js"></script>    
  <script src="js/plugins.js"></script>  
  <script src="cordova.js"></script>
  <script src="js/app.js"></script>  
      
</head>

<body>    

  <ons-navigator animation="slide" var="videolist">  
    <ons-page>
      <ons-toolbar>
        <div class="left">
        </div>
        <div class="center">Videos</div>
      </ons-toolbar>

      <div class="app-page news-page" ng-controller="listController">

        <ons-list modifier="news">

          <ons-list-item modifier="chevron" class="list-item-container" ng-repeat="video in videos track by $index" ng-click="showVideo($index)">
            <ons-row>
              <ons-col width="95px">
                <div class="thumbnail-box is-loading" images-loaded="imgLoadedEvents">
                  <img ng-src="{{ video.thumb }}" class="thumbnail">
                </div>
              </ons-col>
              <ons-col>
                <div class="name">
                  {{ video.title }}
                </div>
                <div class="location">
                  <i class="ion-ios-time"></i> <span>{{ video.duration }} minutes</span>
                </div>
                <div class="desc">
                  {{ video.desc }}             
                </div>
              </ons-col>
              <ons-col width="40px"></ons-col>
            </ons-row>
          </ons-list-item>

        </ons-list>


      </div>

    </ons-page>
  </ons-navigator>   

</body>

</html>
