<ons-tabbar>
  <ons-tab page="people.html">
    <ons-icon icon="ion-ios-chatboxes" class="tab-icon">
    </ons-icon><span class="tab-label">Messages</span>
  </ons-tab>

  <ons-tab page="people.html" active="true">
    <ons-icon icon="ion-ios-people" class="tab-icon">
    </ons-icon><span class="tab-label">Friends</span>
  </ons-tab>

  <ons-tab page="people.html">
    <ons-icon icon="ion-person" class="tab-icon">
    </ons-icon><span class="tab-label">Me</span>
  </ons-tab>
</ons-tabbar>

<ons-template id="people.html">
  <ons-page class="friends">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">
        Friends
      </div>
      <div class="right">
        <ons-toolbar-button>
          <ons-icon icon="ion-plus" fixed-width="false" style="vertical-align: -4px;"></ons-icon>
        </ons-toolbar-button>
      </div>
    </ons-toolbar>

    <div class="navigation-bar">
      <div class="navigation-bar__center">
        <input type="search" class="search-input" placeholder="Search">
      </div>
    </div>

    <ons-list class="person-list" ng-repeat="char in ['A', 'B', 'C', 'D', 'E']">
      <ons-list-header class="person-list-header">{{char}}</ons-list-header>
      <ons-list-item class="person" modifier="tappable" ng-repeat="i in [1,2,3,4,5]">
        <ons-row>
          <ons-col width="40px">
          <img src="images/profiles/profile-image-0{{i}}.png" class="person-image">
          </ons-col>
          <ons-col class="person-name">
            John Smith
          </ons-col>
        </ons-row>
      </ons-list-item>
    </ons-list>


  </ons-page>
</ons-template>