<ons-page>
  <ons-toolbar modifier="transparent">    
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" style="color: white; font-size: 28px;" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="right">
      <ons-toolbar-button class="white" ng-click="menu.setMainPage('signup.html', {closeMenu: true})" >Sign Up</ons-toolbar-button>
    </div>
  </ons-toolbar>

  <div class="login-page">
    <div class="login-logo">
      <h2 class="home-title">Pomodoro</h2>
      <p class="subtitle">Steakhouse &amp; Seafood</p>
    </div>
    <div class="login-form">
      <div class="form-wrapper">
        <input type="email" class="text-input--underbar" placeholder="Email" value="">
        <input type="password" class="text-input--underbar" placeholder="Password" value="">
        <br><br>
        <ons-button modifier="large" class="login-button">Log In</ons-button>
        <br><br>
        <ons-button modifier="quiet" class="forgot-password">Forgot password?</ons-button>
      </div>
    </div>
    <div class="blur">
      <img src="images/bg1.png" class="bg">
    </div>
  </div>

  <svg version="1.1" xmlns="http://www.w3.org/2000/svg">
   <filter id="blur">
     <feGaussianBlur stdDeviation="10" />
     </filter>
  </svg> 


</ons-page>