<ons-page>
  <ons-toolbar>
    <div class="left">
      <ons-toolbar-button ng-click="menu.toggle()"><ons-icon icon="ion-navicon-round" fixed-width="false"></ons-icon></ons-toolbar-button>
    </div>
    <div class="center">Plugins</div>
  </ons-toolbar>

  <div class="app-page" ng-controller="pluginsController">
    <div class="app-page-content">

      <ons-button modifier="large" ng-click="openWebsite()">Open Website InAppBrowser</ons-button>
      <br>
    
      <ons-button modifier="large--cta" ng-click="openSocialSharing()">Native Social Sharing</ons-button>
      <br>

      <ons-button modifier="large" ng-click="openEmailClient()">Send Email</ons-button>
      <br>

      <ons-button modifier="large--cta" ng-click="getDirectionsApple()">Get Directions (Apple)</ons-button>
      <br>

      <ons-button modifier="large" ng-click="getDirectionsGoogle()">Get Directions (Google)</ons-button>
      <br>

      <ons-button modifier="large--cta" ng-click="getDate()">Datepicker</ons-button>
      <br>

    </div>

  </div>

</ons-page>