<ons-page ng-controller="interstitialController">
  <ons-toolbar>
    <div class="left">
      <ons-back-button>Back</ons-back-button>
    </div>
    <div class="center">Intersitial</div>
  </ons-toolbar>

  <div class="app-page news-page" >
    
    <p style="text-align:center;">App Content</p>

    <br>
    <ons-button  modifier="large" ng-click="prepareIt()">Prepare Another Interstitial </ons-button>
    <br>
    <ons-button  modifier="large" ng-click="showAnother()">Show Another Interstitial </ons-button>

  </div>

</ons-page>